
    html, body, ul, ol {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: Helvetica, sans-serif;
      font-size: 18px;
      color: rgb(28, 27, 27);  /* Fondo inicial */
      background: linear-gradient(135deg, #d3d3d3, #25373b);
      height: 100vh;
      margin: 0;
      animation: cambioFondo 15s infinite alternate, ease-in-out;
    }

    /* Definición de la animación */
    @keyframes cambioFondo {
      0% {
        background: linear-gradient(135deg, #d3d3d3, #25373b); 
      }
      100% {
        background: linear-gradient(135deg, #f40a0a, #25373b); 
      }
}
    .encabezado {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }


    .encabezado h1 {
      margin: 0;
    }

    .encabezado h2 {
      margin: 0;
      text-align: right;
    }

    .boton {
      background-color: rgb(40, 209, 88);
      color: white;
      padding: 12px 12px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
      display: block;
      margin: 10px auto;
      width: fit-content;
      transition: background-color 2s ease-in-out;
    }

    .boton:hover {
      background-color: rgb(0, 0, 0);
      color: rgb(227, 24, 24);
    }

    .bio {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 40px;
      text-align: left;
    }

    .biografia {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 20px;
      padding: 40px;
      text-align: left;
    }

    .titulo {
    font-family: Impact, Haettenschweiler, 'Arial Black', sans-serif;
    font-size: 4rem;         
    text-transform: uppercase; 
    letter-spacing: 3px;       
    color: #1a1a1a;            
  }

  .subtitulo {
  font-family: Impact, Haettenschweiler, 'Arial Black', sans-serif;
  font-size: 2rem;
  color: #1a1a1a;  
  display: flex;
  justify-content: space-between;
  text-align: left; 
  text-transform: uppercase;          
}

    .biografiab {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 20px;
      padding: 40px;
      text-align: left;
    }

    .bio img {
      max-width: 300px;
      height: auto;
      border-radius: 10px;
    }

    .bio p {
      max-width: 600px;
    }
